@import "bootstrap/dist/css/bootstrap.min.css";

.gallery {
  display: flex;
<<<<<<< HEAD
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap:25px
=======
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
>>>>>>> e133f0b107159f21f011062868cccb9ef8737f53
}

.iconHeart {
  width: 38px;
  margin-left: 90%;
  margin-top: -250%;
}
